.about__left{
    .about__photo{
        width: 200px;
        // border-radius: 50%;
        margin: 0 auto;
    }
    .info{
        margin-top: 80px;
        display: flex;
        .right{
            margin-left: 80px;
            color: #fff;
            &__p{
                white-space: nowrap;
            }
        }
    }
}
.photo{
    border-radius: 50%
}