.about__right{
    margin-left: 180px;
    .about__right__text__name{
        line-height: 80px;
        font-size: 36px;
        color: #fff;
    }
    .note{
        /* font-family: 'OpenSans-Italic'; */
        margin-top: 107px;
    }
}