.comments__content--slider{
    margin: 0 auto;
    margin-top: 110px;
    @include phones{
        margin-top: 35px;
    }
}
.slider{
    position: relative;
    height: 500px;
    overflow: hidden;
}
.slider__list{
    position: absolute;
    min-width: 100%;
    overflow: hidden;
    display: flex;
    white-space: norwrap;
}
.slider__items{
    max-width: 100%;
}