.comments__content{
    position: relative;
    height: 100vh;
}
.comments__content--title{
    color: #fff;
    display: flex;
    padding-top: 160px;
}
.comments__content__arrow{
    margin-left: 100px;
}