.comments__content__slider{
    margin: 0 auto;
    margin-top: 110px;
}
.slider{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.slider__list{
    position: absolute;
    min-width: 100%;
    overflow: hidden;
    display: flex;
    white-space: norwrap;
}