.contacts__content{
    padding-bottom: 170px;
}
.contacts__h2{
    position: relative;
    color: #fff;
    padding-bottom: 100px;
}
.join__leaves{
    position: absolute;
    margin-top: -11%;
    margin-left: 70%;
}