.contacts__content{
    padding-bottom: 170px;
}
.contacts__h2{
    position: relative;
    color: #fff;
    padding-bottom: 100px;
    @include tablets{
        text-align: center;
    }
}
.join__leaves{
    position: absolute;
    margin-top: -11%;
    margin-left: 70%;
    @include tablets{
        margin-top: -20%;
        margin-left: 60%;
    }
}