//left
.footer__left{
    max-width: 165px;
    @include phones{
        max-width: 100%;
    }
}
.footer__2019{
    color: #454749;
    font-size: 48px;
    padding-bottom: 10px;
}
.footer__info{
    color: #454749;
}
.footer__name{
    color: #fff;
    padding: 15px 0 15px 0;
}