.footer{
    background-color: #1b1f22;
}
.footer__container{
    padding: 85px 0 85px 0;
    display: flex;
    line-height: 30px;
    @include phones{
        display: flex;
        flex-direction: column;
    }
}