.hero{
    position: relative;
    color: #fff;
}
.herocontent{
    width: 100%;
    min-height: 1250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: 'Open Sans';
    overflow: hidden;
}