.hero{
    position: relative;
    /* background: url(..//images/content/Train Bridge.jpg); */
    color: #fff;
}
.herocontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}