.icon__links--mod{
    display: inline-block;
    margin-right: 40px;
    &:last-child{
        margin-right: 0;
    }
}
.link{
    width:  25px;
    height: 25px;
}
.icons{
    fill: $grey;
    &:hover{
        fill: #ccc;
    }
    &:active{
        fill: #fff;
    }
}