.join-sections{
    background: url(..//images/content/comments.png) 100% 100%;
    background-size: cover;
}
.join__leaves{
    position: absolute;
    margin-top: -11%;
    margin-left: 70%;
    @include tablets{
        margin-top: -20%;
        margin-left: 60%;
    }
}