.menu__list{
    display: flex;
    font-weight: normal;
    &__item{
        margin-right: 60px;
        &:last-child{
            margin-right: 0;
        }
        &--a{
            text-decoration: none;
            &:hover{
                color: $grey;
            }
            &:active{
                color: #ccc;
            }
        }
    }
    @include tablets{
        display: flex;
        flex-wrap: wrap;
        line-height: 50px;
    }
}