.scroll-down{
    /* position: absolute;
    margin-top: 60%; */
    z-index: 4;
    margin-top: 20%;
    display: flex;
    align-content: center;
    text-decoration: none;
    .scroll{
        fill: #fff;
    }
    &:hover{
        color: $grey;
        .scroll{
            fill: $grey;
        }
    }
    &:active{
        color: #ccc;
        .scroll{
            fill: #ccc;
            }
        }
    cursor: pointer;
    @include tablets{
        display: none;
    }
}