.skill{
    width: 150px;
    height: 150px;
}
.skill__circle{
    fill: transparent;
    stroke-width: 5px;
    stroke: $grey;
}
.skill__gradient{
    stroke-width: 15px;
    stroke-dasharray: 456;
    stroke: #ed7f00;
}
.skill--text{
    width: 100%;
    margin-top: -58%;
    text-align: center;
}