.skill{
    width: 150px;
    height: 150px;
}
.skill__circle{
    fill: transparent;
    stroke-width: 3px;
    stroke: $grey;
}
.skill__gradient{
    stroke-width: 10px;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    stroke: #ed7f00;
}
.skill--text{
    width: 100%;
    margin-top: -55%;
    text-align: center;
}