script(type="text/x-template")#work__content
    .work__content
        .work__slider
            +image('content/1.jpg','work__slider--img')
            .work__slider-content
                ul.work__list
                    li.work__item
                        a(href="#")
                            +image("content/1.jpg","slider__item--image")
                    li.work__item
                        a(href="#")
                            +image("content/2.jpg","slider__item--image")
                    li.work__item
                        a(href="#")
                            +image("content/3.jpg","slider__item--image")
                    li.work__item
                        a(href="#")
                            +image("content/4.jpg","slider__item--image")
                    li.work__item
                        a(href="#")
                            +image("content/5.jpg","slider__item--image")
                .work__arrow
                    button.work__but(type="submit")
                        +icon('arrow-down','arrow-slider slider-right')
                    button.work__but(type="submit")
                        +icon('arrow-down','arrow-slider slider-left')
        .work__info
            .work__tools
                .tools HTML
                .tools CSS
                .tools Javascript
            h3.work__two-title Сайт школы образования
            .work__text
                p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .work__links
                a(href="#").work__link
                    +icon('link','work__icon link')
                    .site Посмотреть сайт