include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        section.hero
          +image('content/mount.png', 'parallax mount')
          .container.herocontent
            header.header
              .header__logo
                .logo ЛК
              .header__menu
                .header__menu-flex
                  +nav()
              .header__links.icon__link
                a(href="https://www.instagram.com/liana_kanukoeva/" target="_blank").icon__links--mod
                  +icon('insta','link icons')
                a(href="https://vk.com/id193708094" target="_blank").icon__links--mod
                  +icon('vk','link icons')
                a(href="https://github.com/kanukoevaliana" target="_blank").icon__links--mod
                  +icon('github','link icons')
                .header__menu-wrapp
                  a(href="#")
                    +icon('menu','link menu')
            .headline
              .headline__left 
                h2.headline__left--own Личный сайт
                h2.headline__left--own web разработчика
              .headline__right 
                h2.headline__right--name Лиана
                h2.headline__right--name Канукоева
            a(href="#").scroll-down Скролл
                +icon('scroll','link scroll')
          +image('content/train.png', 'parallax train')
        section.about-me
          .about
            .about__content.container
              .about__left
                +image('content/user_1.jpg', 'photo about__photo')
                .info
                  -var left = ['Проживаю: ','Возраст: ', 'Родилась: ']
                  .left
                    each i in left
                      .left__h #{i}
                  -var right = ['Щелково','18 лет','13 августа 2000']
                  .right
                    each i in right
                      .right__p #{i}
              .about__right
                .about__right--text
                  .about__right--text-hi 
                    p Привет, меня зовут
                  h2.about__right--text_name Лиана Канукоева
                  .about__right--text_inform 
                    p Я занимаюсь разработкой совместных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .note 
                  p Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво!
        section.useful
          .container.useful__container
            .useful__text
              h2.userful__text__h2.section__title Чем я могу быть вам полезна
              .userful__text--words 
                p Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво!
            #skill-components
            .hands__adap
              +image('content/hands_1.png','hands__image')
          .hands
            +image('content/hands.png','hands__image')
        section.works
          .work__block.container
            h2.work__block--title.section__title Мои работы
            #work_components
        .join-sections
          +image('content/leaves.png','join__leaves')
          section.comments
            #comments_slider
          sections.contacts
            .container.contacts__content
              h2.contacts__h2.section__title Связаться со мной
              form.form
                .user-inform
                  .flexed
                    label Введите ваше имя
                    .form__flex.input__style
                      +icon('user','form__icon')
                      input#name(type="text", placeholder="Введите ваше имя").form__user
                  .flexed
                    label Введите ваш eamil
                    .form__flex.input__style
                      +icon('envelope', 'form__icon')
                      input#email(type="email", placeholder="Введите ваш email").form__user
                label Сообщение к письму
                .form__mes.input__style
                  +icon('message','form__icon')
                  input#message(type="text", placeholder="Сообщение к письму").form__message
                button.button(type="submit")#button отправить
        footer.footer
          .container.footer__container
            .footer__left 
              .footer__2019 &copy 2019
              .footer__name Лиана Канукоева
              .footer__info Личный сайт веб-разработчика
            .footer__right
              .footer__menu
                +nav()
              .footer__content
                .footer__content--right 
                  p Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool
                  .footer__icons.icon__link
                    a(href="https://www.instagram.com/liana_kanukoeva/" target="_blank").footer__links
                      +icon('insta','icons footer__icon')
                    a(href="https://vk.com/id193708094" target="_blank").footer__links
                      +icon('vk','icons footer__icon')
                    a(href="https://github.com/kanukoevaliana" target="_blank").footer__links
                      +icon('github','icons footer__icon')
                .footer__content--left
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    .footer__quote Martin Golding
    include ./templates/entry.pug